

body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;   /* scrolls inside this div */
    margin:0px;
    padding:0px;
}

header{
    background-color: antiquewhite;
    justify-items: center;
    margin: 5px;

}
button {
    color:rgb(168, 164, 164);
    border: 2px solid rgb(171, 166, 166);
    background-color: aqua;
    padding: 10px 20px;
    width: auto ;
    font-size: 25px;
    block-size: auto;
    border-radius: 15px;
}

.dish{
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(72, 159, 236);
    width: 500px;
    height: 500px;   
    border: 2px solid greenyellow;
    border-radius: 10px;
    block-size: auto;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border: 2px solid slategray;
    overflow-y: auto;   /* scrolls inside this div */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

img{
    width: auto;
    height: 200px;
}


h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif
}


